.header-default {
  display: flex;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid var(--primary);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    height: 40px;
  }
}
