@import "normalize";
@import "variables/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-grey-1);
  font-family: Helvetica, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-size-adjust: 100%;
}

.button--primary {
  background-color: var(--primary);
  color: var(--color-grey-1);
  border: 2px solid var(--primary);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 10px 24px;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--white);
    border: 2px solid var(--primary);
  }
}
